---
const { ariaLabel } = Astro.props;
---

<button
    class="py-4 px-6 rounded font-medium text-lg dark:bg-white dark:text-black flex flex-row justify-center items-center w-full lg:w-auto"
    aria-label={ariaLabel}
>
    <slot />
</button>
