---
const { ariaLabel, expanded } = Astro.props;
---

<button
    class={`py-4 px-6 rounded text-lg dark:bg-white dark:text-black flex flex-row justify-center items-center ${
        expanded && "w-full"
    }`}
    aria-label={ariaLabel}
>
    <slot />
</button>
