---
const {
    job: { time, title, description, company },
} = Astro.props;
---

<article class="my-6">
    <h3 class="font-bold mt-2">{title}</h3>
    <header>
        <span></span>
        <span class="text-lg text-slate-400">{company} ~ {time}</span>
    </header>
    {
        description?.length > 0 &&
            description.map((text) => <p class="my-1">{text}</p>)
    }
</article>
