---
const { main, title } = Astro.props;
const elementClass =
    "text-3xl lg:text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-b from-purple-400 to-blue-600 my-2";
---

{
    main ? (
        <h1 class={elementClass}>{title}</h1>
    ) : (
        <h2 class={elementClass}>{title}</h2>
    )
}
