---
import { t } from "i18next";

const { headings = [] } = Astro.props;
---

{
    headings?.length && (
        <nav class="bg-slate-800 py-6 px-8 md:py-8 md:px-10 rounded-lg mb-8 tracking-wide">
            <div class="text-slate-300 font-bold text-lg md:text-xl mb-4">
                {t("blog.table-of-contents").toUpperCase()}
            </div>
            <ul class="text-slate-400 list-decimal md:text-lg pl-4">
                {headings.map(({ text, slug }) => (
                    <li class="mb-1 transition-colors ease-in-out delay-75 hover:text-yellow-200">
                        <a
                            href={`#${slug}`}
                            aria-label={`${t(
                                "general.heading-link-aria-label"
                            )} ${text}`}
                        >
                            {text}
                        </a>
                    </li>
                ))}
            </ul>
        </nav>
    )
}
