---
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import MainLayout from "../layouts/MainLayout.astro";
import RegularParagraph from "../components/AboutMe/RegularParagraph/RegularParagraph.astro";
import SectionTitle from "../components/AboutMe/SectionTitle/SectionTitle.astro";
import InternalLink from "../components/InternalLink/InternalLink.astro";
import Job from "../components/AboutMe/Job/Job.astro";
import Education from "../components/AboutMe/Education/Education.astro";
import DownloadIcon from "../components/Icon/DownloadIcon.astro";

changeLanguage("en");

const jobs = [
    {
        company: "Sopra Steria",
        time: "nov 2018 - current",
        title: "Tech Lead Engineer",
        description: [
            "Phase 1: Airbus Defense and Space: Software Architecture, analysis and development. Python, blockchain, Angular, Microservices, UIPath, gRPC, etc.",
            "Phase 2 (Current): The Workshop - Working on Casino Videogames as Tech Lead Engineer on an international environment with Frontend Technologies and Agile Methodologies: WebGL, Pixi.js, Javascript (ES6+) OOP and design Patterns, Mobx, Reactivity, Jest.",
        ],
    },
    {
        company: "Eduka",
        time: "jun. 2018 - 2022",
        title: "Cofounder",
        description: [
            "I love learning. I dedicate a part of my day to it, so that I can improve myself constantly. That is why I want to bring this desire to everyone. Transmitting that great feeling of seeing yourself improving daily. Eduka, a start-up focused on the learning process of younger children by helping both, them and their parents to better manage their everyday growth.",
        ],
    },
    {
        company: "Indra",
        time: "jun. 2017 - 0ct.2018",
        title: "Software Analyst",
        description: [
            "Analysis and development of RPAs.",
            "Analysis and development of computer tools/solutions to facilitate and optimise management times in Endesa's BackOffice tasks. ",
            "Data management and exploitation projects through MySQL databases, Access, ASP.NET, .NET , etc. ",
            "Development of software to automate tasks with Python + Selenium, Python and Ui Path.",
        ],
    },
    {
        company: "Insous",
        time: "ene. 2015- jun. 2017",
        title: "Cofounder",
        description: [
            "Personal project in the world of development. Design and development of innovative software solutions for particular and business needs.",
        ],
    },
    {
        company: "Indra",
        time: "abr. 2014 - abr.2015",
        title: "Software Analyst",
        description: [
            "Analysis and development of computer tools/solutions to facilitate and optimise management times in Endesa's BackOffice tasks. ",
            "Data management and exploitation projects through MySQL, Access, ASP.NET, .NET databases, etc. ",
            "Software development to automate tasks",
        ],
    },
];
const learning = [
    {
        institution: "Universidad de Sevilla",
        title: "Grado en Ingenier\u00EDa Inform\u00E1tica - Ingenier\u00EDa del Software, Ingenier\u00EDa Inform\u00E1tica",
        time: "sept.2013",
    },
    {
        institution: "I.E.S Punta del Verde",
        title: "Grado Superior Administraci\u00F3n de Sistemas Inform\u00E1ticos, Administraci\u00F3n de sistemas inform\u00E1ticos en red",
        time: "2011 - 2013",
    },
    {
        institution: "I.E.S Ruiz Gij\u00F3n",
        title: "Grado Medio Explotaci\u00F3n de Sistemas Inform\u00E1ticos, T\u00E9cnico Inform\u00E1tico",
        time: "2008 - 2010",
    },
];
---

<MainLayout title={t("general.about-me")}>
    <h1
        class="font-bold text-4xl md:text-5xl mt-32 mb-4 mx-4 md:mx-10 leading-9 text-center"
    >
        {t("about")}
    </h1>
    <nav class="text-2xl md:text-3xl mx-4 md:mx-10 text-center text-slate-300">
        {`${t("about-me.nav.professional-experience.pre-text")} `}
        <InternalLink link="#professional-experience">
            {t("about-me.nav.professional-experience.anchor-text")}
        </InternalLink>{
            `, ${t("about-me.nav.work-history.pre-text")} `
        }<InternalLink link="#work-history">
            {`${t("about-me.nav.work-history.anchor-text")}`}
        </InternalLink>{`, ${t("about-me.nav.cv.pre-text")} `}<InternalLink
            link="#cv"
        >
            {t("about-me.nav.cv.anchor-text")}
        </InternalLink>{
            `, ${t("about-me.nav.education.pre-text")} `
        }<InternalLink link="#education">
            {t("about-me.nav.education.anchor-text")}
        </InternalLink>{
            `, ${t("about-me.nav.personal-things.pre-text")} `
        }<InternalLink link="#personal-things">
            {t("about-me.nav.personal-things.anchor-text")}
        </InternalLink>{` ${t("about-me.nav.personal-things.final-text")}`}
    </nav>
    <section id="professional-experience" class="mt-20">
        <SectionTitle>
            {t("about-me.professional-experience.title")}
        </SectionTitle>
        <RegularParagraph>
            {t("about-me.professional-experience.paragraph-1")}
        </RegularParagraph>

        <RegularParagraph>
            {t("about-me.professional-experience.paragraph-2")}
        </RegularParagraph>
    </section>

    <section id="work-history" class="mt-20">
        <SectionTitle>{t("about-me.work-history.title")}</SectionTitle>
        {jobs.length > 0 && jobs.map((job) => <Job job={job} />)}
    </section>

    <section id="cv" class="mt-20">
        <SectionTitle>{t("about-me.cv.title")}</SectionTitle>
        <div>Will be available soon</div>
    </section>

    <section id="education" class="mt-20">
        <SectionTitle>{t("about-me.education.title")}</SectionTitle>
        {
            learning.length > 0 &&
                learning.map((education) => <Education education={education} />)
        }
    </section>

    <section id="personal-things" class="mt-20">
        <SectionTitle>{t("about-me.personal-things.title")}</SectionTitle>
        <RegularParagraph>
            {t("about-me.personal-things.paragraph-1")}
        </RegularParagraph>
        <RegularParagraph>
            {t("about-me.personal-things.paragraph-2")}
        </RegularParagraph>
        <RegularParagraph>
            {t("about-me.personal-things.paragraph-3")}
        </RegularParagraph>
        <RegularParagraph>
            {t("about-me.personal-things.paragraph-4")}
        </RegularParagraph>
    </section>
</MainLayout>
