---
import MainLayout from "../layouts/MainLayout.astro";
import i18next, { t, changeLanguage } from "i18next";
import Title from "../components/Title/Title.astro";
import Subtitle from "../components/Subtitle/Subtitle.astro";
import TopImage from "/assets/images/top_illustration.png";

changeLanguage("en");
---

<script></script>

<MainLayout title={t("home.title")}>
    <section class="flex flex-col justify-center items-center">
        <Title title={t("home.title")} main />
        <Subtitle subtitle={t("home.subtitle")} centered />
        <div class="w-full rounded my-4">
            <img
                src={TopImage}
                class="object-cover h-48 w-96 rounded-lg"
                alt="Pixel art portrait of me. A person with curly long black hair at the center"
            />
        </div>
    </section>
</MainLayout>

<style></style>
