---
import MainLayout from "../layouts/MainLayout.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<script></script>

<MainLayout title="Hi, I'm Jose">
    <h1 id="test">{t("home:test")}</h1>
</MainLayout>

<style></style>
