---
import { Trans } from "astro-i18next/components";
import { t, changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import AboutMeSection from "../../components/Home/AboutMe/AboutMeSection.astro";
import PostsSection from "../../components/Home/PostsSection/PostsSection.astro";
import SocialLinks from "../../components/Home/SocialLInks/SocialLinks.astro";

changeLanguage("es");

const blogEntries = await getCollection("blog", ({ id }) => {
    return id.startsWith("es/");
});
const posts = blogEntries
    .sort((entryA, entryB) => Number(entryB.data.pubDate) - Number(entryA.data.pubDate))
    .slice(0, 3);
---

<MainLayout title={t("home.title")} description={t("home.meta-description")}>
    <section class="">
        <span class="text-6xl">✌️</span>
        <h1 class="text-5xl md:text-6xl font-bold my-6 break-words">
            <Trans i18nKey="home.header.title">
                Software engineer,
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 my-2"
                    >multipotential</span
                > and creative person.
            </Trans>
        </h1>

        <h2 class="text-3xl my-4">{t("home.header.description")}</h2>

        <SocialLinks />
    </section>

    <AboutMeSection />

    <PostsSection posts={posts} />
</MainLayout>
