---
import MainLayout from "../../layouts/MainLayout.astro";
import i18next, { t, changeLanguage } from "i18next";
import Title from "../../components/Title/Title.astro";
import Subtitle from "../../components/Subtitle/Subtitle.astro";
import TopImage from "/assets/images/top_illustration.webp";
import Button from "../../components/Button/Button.astro";
import ChevronDown from "../../components/Icon/ChevronDown.astro";

changeLanguage("es");
---

<script></script>

<MainLayout title={t("home.title")}>
    <section class="flex flex-col justify-center items-center">
        <Title level="h3" title={t("home.title")} main />
        <Subtitle level="h1" subtitle={t("home.subtitle")} centered />
        <div class="w-full rounded-lg mx-4 my-6">
            <img
                src={TopImage}
                class="object-cover rounded-lg"
                width="1024"
                height="1024"
                alt="Pixel art portrait of me. A person with curly long black hair at the center"
            />
        </div>
        <Button ariaLabel={t("home.know-me-button-arial-label")}>
            <span> {t("home.know-me")}</span>
            <ChevronDown />
        </Button>
    </section>
</MainLayout>

<style></style>
