---
import MenuIcon from "../components/icons/MenuIcon.astro";
import SunIcon from "../components/icons/SunIcon.astro";
import i18next from "i18next";
import { LanguageSelector } from "astro-i18next/components";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark">
		<main class="bg-stone-900 dark:text-white">
			<header class="flex flex-row justify-around">
				<div class="flex flex-row justify-center items-center">
					<button id="language-selector" class="p-4">🇪🇸</button>
					<select onchange="location = this.value;">
						<option data-display="🇪🇸" value="/es">🇪🇸 Español</option
						>
						<option data-display="🇬🇧" value="/">🇬🇧 English</option>
					</select>
					<LanguageSelector showFlag={true} class="my-select-class" />
					<button id="style-mode-selector" class="p-4">
						<SunIcon />
					</button>
					<div></div>
				</div>
				<div class="p-4">
					<MenuIcon />
				</div>
				<slot />
			</header>
		</main>
		<style is:global></style>
	</body>
</html>

<script>
	import { languages } from "../shared/constants";

	const $ = (selector) => document.querySelector(selector);
	const languageSelector = $("#language-selector");
	const styleModeSelector = $("#style-mode-selector");

	languageSelector.onchange("change", function () {
		var selectedOption =
			languageSelector.options[languageSelector.selectedIndex];
		var displayValue = selectedOption.getAttribute("data-display");
		languageSelector.options[languageSelector.selectedIndex].text =
			displayValue;
	});
</script>
