---
import MenuIcon from "../components/Icon/MenuIcon.astro";
import SunIcon from "../components/Icon/SunIcon.astro";
import i18next, { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark bg-stone-900 dark:text-white">
		<main class="max-w-5xl m-auto px-10 dark:text-white">
			<header class="flex flex-row justify-between py-4">
				<div class="flex flex-row justify-center items-center">
					<select
						id="language-selector"
						onchange="location = this.value;"
						class="appearance-none py-1 px-2 dark:bg-gray-800 dark:text-white rounded shadow-sm border dark:border-gray-700 text-sm"
					>
						<option data-display="🇬🇧" value="/" selected
							>🇬🇧 English</option
						>
						<option data-display="🇪🇸" value="/es">🇪🇸 Español</option
						>
					</select>
					<button
						id="style-mode-selector"
						class="p-4"
						aria-label={t(
							"home.toggle-style-mode-button-aria-label"
						)}
					>
						<SunIcon />
					</button>
					<div></div>
				</div>
				<div class="p-4">
					<MenuIcon />
				</div>
			</header>
			<slot />
		</main>
		<style is:global>
			html {
				scroll-behavior: smooth;
			}
		</style>
	</body>

	<script>
		import { DEFAULT_LANG, languages } from "../shared/constants";

		const $ = (selector) => document.querySelector(selector);
		const languageSelector = $("#language-selector");
		const styleModeSelector = $("#style-mode-selector");

		const detectLanguage = () => {
			const { pathname } = window.location;
			const [, pathLanguageCode] = pathname.split("/");
			const language =
				languages[pathLanguageCode || DEFAULT_LANG] || DEFAULT_LANG;

			languageSelector.value = language?.slug;
		};

		document.addEventListener("DOMContentLoaded", function (event) {
			detectLanguage();
		});
	</script>
</html>
